{% extends 'MadLibs/base.html' %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Your Mad Lib</title>
</head>
<body>
{% block body %}
{% for madlib in madlibs %}
<table>
    <tr>
        <td>Silly Stories</td>
    </tr>
    <tr>
        <td>
             <P class="blocktext" style="text-alight: left">

                Be kind to your Doll-footed {{ madlibs.noun }}
                For a duck may be somebody`s {{ madlibs.Person }},
                Be kind to your {{ madlibs.noun }} in {{ madlibs.Place }}
                Where the weather is always {{ madlibs.Thing }}.

                You may think that this is the {{ madlibs.Adjective }},
                Well it is.

            </p>
        </td>
    </tr>
</table>
{% endfor %}
{% endblock %}
</body>
</html>