{% extends 'MadLibs/base.html' %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Your Mad Lib</title>
</head>
<body>
{% block body %}
<table>
    <tr>
        <td>Funny News Report</td>
    </tr>
    <tr>
        <td>
             <p>


                Noun: {{ madlibs.noun }}
                Noun2: {{ madlibs.noun2 }}
                Noun3: {{ madlibs.noun3 }}
                Person: {{ madlibs.Person }}
                Place: {{ madlibs.Place }}
                Thing: {{ madlibs.Thing }}
                Adjective: {{ madlibs.Adjective }}
            </p>
        </td>
    </tr>
</table>

{% endblock %}
</body>
</html>